.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/consultation.bg.png') center (center/cover) no-repeat;

    &__descr {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
}