.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 250px;

        img {
            width: 100%;
        }
    }

    &__official {
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        text-align: center;

        span {
            display: block; //чтобы занимал всю доступную ширину
            font-size: 18px;
        }
    }

    &__phone {
        display: block;
        // max-width: 150px;
        color: #FFF;
        font-size: 17px;
        font-weight: 700;
        &:hover{
            color:#fff;
            text-decoration: none;
        }
    }

    &__contacts{
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
}