.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    min-height: 402px;
    background-color: #F2F2F2;
    padding: 35px 23px 40px 28px;

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 50px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }

    &__subtitle {
        color: #0D0D0D;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__descr {
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

    &_mini {
        min-height: 143px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

#consultation,
#order,
#thanks {
    display: none;
}