.promo {
    min-height: 650px;
    padding: 21px 0 93px 0; //это не внещний отступ!! так что можно использовать 
    background: url(../img/main.png) center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }

    &__header {
        color: #FFF;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }

    &__subheader {
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 17px;
    }

    &__icons {
        margin-top: 65px;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 130px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

    }

    &__link {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a{
            color: #FFF;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}